[2014-03-30 01:19] camilohollanda opened #13 "Grunt example"
Please could you offer a simple example of this task working with Grunt?

[2014-04-01 13:13] ksmithut opened #15 "Breaks on Windows"
Because of the output of `process.cwd()`, the paths output on windows include `c:\` or whichever drive node is being run on.

[2014-04-01 14:49] #13 closed, assigned to nobody

[2014-04-01 15:25] #15 closed, assigned to nobody

[2014-05-31 12:00] cyrusdavid opened #20 "does not expand globs?"
[ionicon's bower.json file](https://github.com/driftyco/ionicons/blob/92ab37d6e3c75455cd8cf4ff4f3e09742d98e34c/bower.json#L27) uses globs to define the contents of `main` but does not seem to be expanded.

[code]

[2014-06-02 18:47] #20 closed, assigned to nobody

[2014-06-07 20:43] JackCA opened #22 "access devDependencies"
Is there an option whereby I would be able to include the `devDependencies` listed in my `bower.json`?

[2014-06-08 13:48] #22 closed, assigned to nobody

[2014-06-10 00:52] ksmithut opened #25 "Options get cached in dependencies and devDependencies"
This is in reference to PR #24

[2014-06-10 01:20] #25 closed, assigned to ksmithut

[2014-11-01 14:00] shinnn opened #33 "`self` option"
How about `self` option (boolean)?

Like `dev` option, sometimes I want to include the `main` file of current project.

If you prefer that, I can create a PR :)

[2014-11-03 01:11] #33 closed, assigned to nobody

[2015-01-04 11:22] xxorax opened #34 "Try to read .bowerrc"
For automaticaly retrieve the bower folder where the components are installed, it should read the .bowerrc file. There is an option inside to define the folder :
[code]

Thanks !

[2015-01-04 12:05] xxorax opened #35 "Get files of one component with or without the dependencies"
Because of use of lazy load to some component, it could be great to find a way to :
- excude some components from the main bowerFiles().js/css
- retrieve files of one or more specific component, with or without the dependencies (to add these files in other module for dynamicaly load them).

Like :
[code]

Also we have to deal with the main options like dev, json, dir...  So I think it nead an inst

[2015-01-04 14:49] ksmithut commented on #34
@xxorax sounds easy enough. I'll start work right away.

[2015-01-04 14:52] ksmithut commented on #35
@xxorax I like this idea. I've run into this problem recently of having to remove specific components. Coming up with an API for it seems like it should be pretty easy, though. I work on this later today after I finish up #34 and see where I get. I may end up refactoring a bit, but it would be for the better I think. Thank goodness for TDD

[2015-01-04 15:23] ksmithut commented on #34
@xxorax Looks like respecting the rules of .bowerrc will take some time, but I also think it's important.

This is how I'm thinking the configuration will take precedence.
1. Top priority is what is passed in through the JS API (`require('bower-files')({...});`)
1. Next is `bower.json`. This is used by the JS API
1. Next is the local `.bowerrc`. This can pass in the `cwd` and `directory` options
1

[2015-01-05 03:39] ksmithut commented on #34
@xxorax Just giving you an update, I'm working on a refactor. I won't be done as quickly as I thought, but I hope to be able to finish it sometime tomorrow. If it doesn't break anything, I'll keep it in the 2.x branch. Perhaps, I'll just keep it there and deprecate some options.

[2015-01-05 07:07] devmondo opened #36 "Exclude minified files"
awesome plugin, it is working great, but how can i exclude minified files ? like some packages have minified file in the bower json main option.

thanks in advanced.

[2015-01-05 08:04] shinnn commented on #36
Probably `options.overrides` helps you.

[2015-01-05 12:03] ksmithut commented on #36
Exactly. To be clear, you can specify an override value for the main option for specific packages in your bower.json or in the options you pass in.

bower.json example:

    {
      ...
      "overrides": {
        "jquery": {
          "main": "dist/jquery.js"
        }
      }
    }

Does that make sense?

[2015-01-05 12:06] ksmithut commented on #36
I should also note that the path value you pass into the main option is relative to the component directory, so the above example is going to use bower_components/jquery/dist/jquery.js.

[2015-01-05 13:07] shinnn commented on #36
The best solution for the problem is creating a pull request for the library to exclude minified files from `main`. Including minified files in `main` doesn't match [bower package guideline](https://github.com/bower/bower.json-spec#main).

[2015-01-05 14:36] xxorax commented on #34
Yes, I didn't have reflexion about this but it's finaly more difficult than it appear.
Maybe we should re-use the bower library like [bower/config](https://github.com/bower/config).
Thanks !

[2015-01-05 23:18] devmondo commented on #36
thanks all for reply, really helpful

i was thinking of something simpler like gulp.src (['!*min.js'])

[2015-01-05 23:25] ksmithut commented on #34
[https://github.com/bower/config](bower/config) is working out nicely :) I've got all the old tests passing, so now I just need to write the new ones for this.

[2015-01-05 23:36] ksmithut commented on #36
I've recently be working on a 3.x branch and will probably be working in a globbing feature like that. I'll keep this issue open and keep you updated on the progress of that branch.

[2015-01-06 00:04] devmondo commented on #36
@ksmithut, thanks a lot for the reply, and for the hints,

sure PR is good, but when you implement globbing, it will allow us for really fancy scenarios

[2015-01-06 15:32] ksmithut commented on #35
@xxorax I'm currently working on this functionality, but it's difficult to make much progress because it requires a lot of breaking changes. Although I'm accounting for that in my major version bump, I'm hesitant to make too many changes too quickly. But here are my thoughts on the new API:

[code]

The thought process behind this is that once we get the bower components and apply the overrides an

[2015-01-06 15:33] ksmithut commented on #36
@shinnn @devmondo There's a discussion going on in #35 about a new API. It requires some breaking changes, but I think it would allow a much more flexible API that feels a lot better to work with. I would love your feedback!

[2015-01-06 16:07] shinnn commented on #35
I prefer,

[code]

instead of gazillions of methods.

[2015-01-06 16:37] ksmithut commented on #35
@shinn I do like the idea of having only one method with the options. I think internally I'll still break out the functionality into different methods, making it a bit easier to test, but expose all those through the options available for the filter method.

[2015-01-06 17:26] xxorax commented on #35
@ksmithut Humm having only one function for filter is less powerfull I think. For example for doing :
[code]
But, however, having only one function for filter is enough for now. We can continue to maintain it after adding chain features (like Underscore/Lo-Dash does very well).
Thanks

[2015-01-06 17:35] ksmithut commented on #35
@xxorax I was planning on doing both. Using the separate, chainable methods would make the single function a lot easier to develop and test. I may provide a legacy function to ease migration, although I'm not actually sure how many people use this on a daily basis.

So the plan right now:

- Create chainable functions like `.exlude()` and `.get()` (perhaps aliased to `.include()`) and for specific

[2015-01-06 18:26] devmondo commented on #35
lovely ideas, please dont forget about other files types like fonts and images

[2015-01-06 18:32] ksmithut commented on #35
Of course :) Because this module only grabs the paths to the files, you can do with them what you wish. For fonts, I often use the `join` option to join multiple file extensions into one grouping. I'm thinking of doing the same thing in the 3.x, so you could do something like `lib.join('font', ['woff', 'ttf', 'otf']).ext('font')` or something along those lines.

[2015-01-06 21:27] devmondo commented on #35
@ksmithut "join" is the single most greatest thing about this library, that made me chose it over other more popular plugins, it is really brilliant, thank you for the idea :)

and i love the new suggestions you mentioned there

[2015-01-08 15:06] ksmithut commented on #35
@xxorax I'm having difficulty figuring out the logic that should happen when using a `.get('package')` type method as it pertains to the chaining stuff that I'm working on.

For example:

[code]

If the above seem clear on what is actually happening, then I'll continue with that functionality, but it just feels a little off for some reason.

I've got some of the simpler things worked out and with

[2015-01-08 18:39] devmondo commented on #35
@ksmithut  i love the suggestion above we can extend it further so when we use

[code]

so the "true" means get the matching globb but only defined in bower main, if "false" get us all matching files in the package folder.

[2015-01-08 20:53] ksmithut commented on #35
@devmondo When you mean in the package folder, do you mean `bower_components` or the project using `bower-files`?

[2015-01-08 21:51] devmondo commented on #35
@ksmithut sorry i was not clear, what i meant is in the bower package like "bootstrap"

[2015-01-08 21:54] ksmithut commented on #35
@devmondo Thanks for the clarification. `bower-files` only get the files defined in each package's `main` property anyway.

[2015-01-09 01:46] devmondo commented on #35
@ksmithut thanks for reply, this makes it obvious, but as you know some dont put all files in Main, heck even some put the js files and leave the css and images, so that is why you thankfully  gave us the override option,  but honestly when you have a lot of libs, it is a hassle to setup overrides, that is why i was proposing the
[code]
with this option,  we dont  have to manually create extra  ta

[2015-01-09 03:06] ksmithut commented on #34
@xxorax I've got a beta version out on npm

[code]

It's got this functionality built in :) Give it a try and let me know what you think. Be sure to read up on the [new docs](https://github.com/ksmithut/bower-files/tree/3.x). If you and other like how things are, I'll merge them into master and publish it as a non-beta version.

[2015-01-09 03:11] ksmithut commented on #35
@devmondo  I've got a beta version out on npm

[code]

It's got this functionality built in :) Give it a try and let me know what you think. Be sure to read up on the [new docs](https://github.com/ksmithut/bower-files/tree/3.x). If you and other like how things are, I'll merge them into master and publish it as a non-beta version.

I don't have the specific `get/include` or `exclude` functionality

[2015-01-09 04:36] devmondo commented on #35
@ksmithut thank you very much man, the new API is great, i just tried it and it works perfect
the chaining  gives you so much flexibility

i am no node expert, but is the ".file" required? i mean cant we just do this
[code]
another thing is excuse my ignorance, but on NPM registry i still see old version there, i had to use command line to install the beta version per your advise.

thanks again re

[2015-01-09 04:52] ksmithut commented on #35
Yes, it's marked as a beta version, so you only get the stable version.

Using the `files` property was my way of getting the chaining to work. If a chainable function returns something that can be chainable again, it's difficult to try and get it to return an array as well. It could certainly return an array-like object with those chainable methods, but it might affect how it gets looped over and

[2015-01-09 05:30] ksmithut commented on #35
I just had a thought, what if you pass in a second parameter to the last chainable method that would indicate to return the desired files?

    lib.ext(['otf', 'woff', 'ttf'], true)

[2015-01-09 05:40] ksmithut commented on #35
I just ran into a stack overflow with the same problem I ran into.

http://stackoverflow.com/questions/14123557/how-to-detect-the-end-of-a-method-chain-in-javascript

I might try that valueOf or something.

[2015-01-09 06:11] devmondo commented on #35
@ksmithut  ohh now i get it it,

who am i to judge, i am not doing the hard work here :) so you do what ever pleases you, i am grateful you are just listening to me

i can live absolutely fine with the current syntax, it was just curiosity, and having all this chaining stuff is just wonderful, i even wish if this plugin functionality can be used with folders other than bower, because it allows for

[2015-01-09 14:48] ksmithut commented on #35
For more flexible globbing, you could use the [glob](https://github.com/isaacs/node-glob) module

[2015-01-09 16:36] #36 closed

[2015-01-09 16:37] ksmithut commented on #36
This is now published in version 3.0.0

[2015-01-09 16:37] ksmithut commented on #34
This is resolve now. 3.0.0 was published. Be sure to note the new api in the documentation.

[2015-01-09 16:37] #34 closed

[2015-01-09 16:39] ksmithut commented on #35
3.0.0 has been published. I'm still making adjustments, but I don't plan to make any breaking changes to the current api. I'll add functionality for sure, because I still need to add in this functionality, but I should be able to get around to it in the next week or so.

[2015-01-09 18:45] devmondo commented on #35
@ksmithut  awesome man,

i am using it and it is working great, this package is way better than the popular main-bower-files, i rally wish more people know about it.

all the best mate :)

[2015-01-09 18:57] ksmithut commented on #35
@devmondo Thanks for your kind words :) I wrote this initially before main-bower-files was released, but he had gulp-bower-files. I was hoping that we would internally use my module, but he just modularized his main component and reused it in his own project.

[2015-01-27 09:44] swemaniac opened #40 "Add module name to files array"
This is the most promising gulp/bower files module I've seen so far but it's lacking one tiny thing (for me) which is to provide the name of the dependency in the resulting files array, i.e.: {'jquery': '/bower_components/jquery.js'}

This would enable me to use this in conjunction with Browserify in the following standard manner: browserify.require(file, { expose: id }) (where id is the module na

[2015-01-27 10:52] shinnn commented on #40
Did you try [debowerify](https://github.com/eugeneware/debowerify)?

[2015-01-27 11:15] swemaniac commented on #40
That's just for javascript files though, and debrowserify won't solve my problem.. I'm currently using bower-files and bower-resolve to solve one problem each but it would be nice to have only one dependency that solves both :)

[2015-01-27 13:22] ksmithut commented on #40
I think we could add in another virtual property to the method chaining to accomplish this. What would you think about something like this:

[code]

Where `deps` is the hash of all of your bower components with whatever filtering you applied. So you wouldn't need to use the `.self()` or `.ext('js')`, and you could just use `lib.deps` to get the full list of object hashes.

[code]

That should not

[2015-01-27 14:30] swemaniac commented on #40
Thanks for the reply. Yes for this to be useful we need a connection between deps and files as you mention. It will get a bit redundant though, since the `files` property already contain the paths but something along the lines of this seems logical to me (note that I'm not 100% aware of all the ins and outs of this lib yet):

[code]

or with filtering of just one ext:

[code]

What do you think?

[2015-01-27 14:33] ksmithut commented on #40
Ooh, yes, I like it. I'll start writing some tests, and hopefully have this out by the end of the day.

[2015-01-27 14:36] swemaniac commented on #40
Awesome :)

[2015-01-27 14:58] ksmithut commented on #40
So we're saying the the dependencies should be split by extension by default, correct?

By default, `files` returns an array, but with `.ext(true)` we get all of the files, but as an object with all of the extensions as properties.
[code]

So you're saying it should be split by extension for each dependency by default, correct? I worry a little bit about the inconsistency between the options used

[2015-01-27 15:01] swemaniac commented on #40
Oh no yeah that's definitely the better way to go, I didn't know about the `ext(true)` option. It makes a lot of sense doing it that way, keeping the options the same.

[2015-01-27 15:09] ksmithut commented on #40
Cool, I should have tests and new functionality deployed to npm something this morning. I'll keep you posted.

[2015-01-27 15:09] swemaniac commented on #40
Thanks I appreciate it :)

/Johan
--
Utvecklare @ Bazooka
08 31 70 00 | www.bazooka.se

On Tue, Jan 27, 2015 at 4:09 PM, ksmithut <notifications@github.com> wrote:

[2015-01-27 15:29] ksmithut commented on #40
@swemaniac It's been publish to npm, v3.3.0. Let me know if you have any issues with it!

[2015-01-27 15:39] ksmithut commented on #35
@xxorax I've added a feature that doesn't do everything described by your issue, but it might be useful in your use case. If it works for you, I'll close the issue:

[code]

Does that make sense? Does this work for you? It doesn't grab the dependencies, but if you're using it this way manually, then you will likely need to know the dependencies of the different projects anyway.

[2015-01-27 15:46] swemaniac commented on #40
Cool that was fast, I'll have to check it out tomorrow morning (GMT+1 :)

/Johan
--
Utvecklare @ Bazooka
08 31 70 00 | www.bazooka.se

On Tue, Jan 27, 2015 at 4:29 PM, ksmithut <notifications@github.com> wrote:

[2015-02-01 09:01] boogerlad opened #42 "woff2 file support"
`bowerSrc.ext(['eot', 'woff', 'woff2', 'ttf', 'svg']).files` seems to be excluding woff2 files. Perhaps there is a bug when there exists a number in the file extension?

[2015-02-01 12:55] ksmithut commented on #42
Possibly, which bower component are you trying to include that has a woff2 file in it?

[2015-02-01 19:59] boogerlad commented on #42
Twitter Bootstrap.

[2015-02-01 20:17] ksmithut commented on #42
Looks like it might be an issue with bower, or the team publishing bootstrap to bower. I see the `woff2` file being [included in their bower.json](https://github.com/twbs/bootstrap/blob/master/bower.json#L24), but when I download it, it shows that the `woff2` file isn't included in the "main" property. I would submit an issue with bootstrap or bower to get that resolved. They may not have publishe

[2015-02-01 20:57] boogerlad commented on #42
Huh, you're right. I manually checked it a couple days ago and it was included in the main repository. Now it isn't. Sorry for bothering you.

[2015-02-01 20:57] #42 closed

[2015-02-01 20:58] ksmithut commented on #42
@boogerlad No worries, it wasn't a bother at all. It always helps to get feedback.

[2015-02-06 09:07] swemaniac commented on #40
Hi I'm really sorry for not getting back to you sooner but I've tried this recently and works great for getting the deps with their IDs, nice work!

One thing though, as the vendor IDs are stripped of hyphens there's no way to use the IDs directly when exposing them to browserify or what have you (you would still need the original ID, e.g. 'jquery-whatever-plugin'). I realize that to keep the hyph

[2015-02-06 11:49] ksmithut commented on #40
That does make sense to keep the original ids in there. What if we were to put a `camelCase` option at the `require('bower-files')(...)` level?

Example:

[code]

Either that or I could provide both the camelcased version and the hyphenated version and just have the camelcased key point to the hyphenated on. That may cause confusion if someone were to iterate over the keys of the deps object.

Bot

[2015-02-06 12:15] swemaniac commented on #40
No worries, I was late replying anyway. I'd say go with the option you prefer :)

[2015-02-13 08:13] darren131 opened #44 "Error: Missing positive glob"
Hi there,

Getting a strange message (Error: Missing positive glob) that I'm hoping you'll be able to help with... Here's my code

[code]

Totally stumped... probably something quite simple...?

Thanks!

[2015-02-13 08:16] shinnn commented on #44
[code]

↓

[code]

[2015-02-13 10:34] ksmithut commented on #44
Thanks @shinnn! So `gulp.src` is expecting an array of glob strings. What you've got is an array of arrays of glob strings. What @shinnn has suggested that you do is flatten the array by concatenating the arrays together so that you get a single array.

[2015-02-13 18:45] ksmithut commented on #35
@xxorax I'm going to close this issue as I believe that a solution has come about that may resolve your need. If it's still an issue or you have additional questions, please feel free to open another issue or reopen this one.

[2015-02-13 18:45] #35 closed

[2015-02-13 18:47] ksmithut commented on #40
@swemaniac I've added in the `camelCase` option as described above in the latest version. Want to get it a try and let me know if that's what you were looking for?

[2015-02-13 18:49] ksmithut commented on #44
Just to add to that, gulp will return that error if it can't determine a positive glob pattern from the given glob or array of globs. So if you only have negative globs: `['!src/**/*']` or if you have an array of things that aren't globs such as what you have there, then gulp will throw the error `Error: Missing positive glob`.

Does that make sense?

[2015-02-15 14:08] swemaniac commented on #40
@ksmithut I just tried it out on a real-world project and it works great, now I can finally remove the dependency on "bower-resolve" and use "bower-files" for both css and js files. Thanks for this mate!

Basically what I'm able to do now is to automatically include and require js files from bower into browserify, which previously I had to use the other module for exclusively.

[code]

You can clo

[2015-02-17 14:55] #40 closed

[2015-02-17 15:08] ksmithut commented on #44
@darren131 Did you get things figured out? If you need any additional help, feel free to reach out.

I'm going to close it for now, but feel free to open it back up if we didn't resolve your issue.

[2015-02-17 15:08] #44 closed

[2015-02-17 20:00] darren131 commented on #44
Thanks Keith,

I figured it out.

On 18 February 2015 at 04:08, Keith Smith <notifications@github.com> wrote:

--
Darren Wood • The Fold
+64 21 78 45 78

[2015-04-17 13:46] pluma opened #47 "Add CLI?"
I wrote a CLI wrapper called [bower-ls](https://www.npmjs.com/package/bower-ls). With the new API the implementation is [basically a one-liner](https://github.com/pluma/bower-ls/blob/master/bin/bower-ls).

Would you be interested in adding a CLI or merging mine into the project?

[2015-04-17 19:35] ksmithut commented on #47
@pluma I think that's a great idea :smiley: Would you like to submit a pull request? If not, that's fine, I just want to make sure that credit is given where it's due.

[2015-04-17 20:49] pluma commented on #47
@ksmithut Sounds good. I'll open a PR then :+1:

[2015-04-17 21:20] #47 closed

[2015-04-22 14:20] fracmak opened #53 "Add Ability to get only Dev Dependencies"
So I have a need to only list the dev dependencies without the normal dependencies. There's multiple ways to go about implementing this, but I was looking for some guidance on how you'd like it to be done. I could expand the .dev() option to be "add dev" vs "dev exclusive". I could add another option .devOnly()? I could add a .devFiles instead of .files.

Thoughts?

[2015-04-22 14:39] ksmithut commented on #53
Hmmm... I never thought of that. Perhaps having an option for the regular dependencies like `main`, so you could disable the main dependencies with something like `.main(false)`. What do you think?

[2015-04-22 14:45] fracmak commented on #53
Ooh, I like that. I'll get cracking on that

[2015-04-22 14:46] ksmithut commented on #53
Awesome, thanks :)

[2015-04-22 15:12] #53 closed

[2015-05-05 15:20] jmls opened #55 "font awesome and mdi"
I'm sorry to have to raise an issue to ask this question, but can't find a group or wiki. I am struggling to get fontawesome and mdi to work with bower-files and gulp

are there any hints or clues to guide me in my quest ?

thanks

[2015-05-05 15:22] ksmithut commented on #55
Sure thing :)

What do your `bower.json` and `gulpfile.js` look like? For the `gulpfile.js`, I would only need to know how you're using `bower-files`, but we should be able to get you going pretty quickly once I find those things out.

[2015-05-05 15:27] jmls commented on #55
thanks! everything seems ok, and I can use bower-files to generate the js files peachy. However, I don't know what to put into the gulp command for something like fa where it has fonts and woffs and all sorts of other stuff ... ;)

bower.json
[code]
gulp task for js development :
[code]
css
[code]

obviously this doesn't work for fa or mdi and I was wondering what I needed to add where ;)

many th

[2015-05-05 15:44] ksmithut commented on #55
Are the bower package `font-awesome` and `mdi` dependencies of one of your bower dependencies? If not, run `bower install --save font-awesome mdi` to install `font-awesome` and `mdi` first.

The other thing that I notices is that the `mdi` package has their `"main"` files all messed up, so you'll need to add the following to your `bower.json` to make sure you don't get all of the junk they include

[2015-05-05 15:55] jmls commented on #55
that seems to have done the trick ! many thanks !

[2015-05-05 15:56] ksmithut commented on #55
You bet :smile: Glad I could help. Feel free to reopen the issue if you run into more issues.

[2015-05-05 15:56] #55 closed

[2015-05-05 16:08] jmls opened #56 "specify order of js files"
I have a need to ensure that jquery is loaded before angular. Is this possible with bower-files ?

[2015-05-05 16:12] ksmithut commented on #56
Yes, you can override the dependencies for a package in your `bower.json` overrides:

`bower.json`
[code]

[2015-05-05 16:15] jmls commented on #56
worked well. thanks again. Is it ok to create issues like this for questions ? - at the very least they can be searched by other people with the same problem

[2015-05-05 16:20] ksmithut commented on #56
Yes, this is the place to do it. It's difficult to cover every use case in the documentation, which is already pretty big. I think I've run into this specific issue enough time to put it into the documentation.

So yes, feel free to open issues for any question that you might have :) This is useful for other people like you mentioned, and it also starts up larger discussion for functionality that

[2015-05-05 16:20] #56 closed

[2015-07-17 18:17] jfbibeau opened #57 "`self` option doesn't work"
I'm finding that the 'self' option is not quite working, unless I'm doing something wrong?

For example, my bower.json has a few files listed under main, but the following code returns all the dependencies, without my main files:
[code]

Running `gulp test` returns me a list of files, but my own main[] files are not included. I would expect to see file1 and file2 in the list of files returned as t

[2015-07-17 18:19] jfbibeau commented on #57
Gah, never mind, found out why. My files declared in bower.json have the wrong path (they are the path from when I build the package, not the current path). Closing :)

[2015-07-17 18:19] #57 closed

[2015-07-17 18:20] ksmithut commented on #57
No worries :) let me know if you have any other questions

[2015-07-17 18:54] jfbibeau opened #58 "Order of .files vs .deps"
Hi! Me again.

I noticed that if I call .files, I will get the list of files returned in the correct order (proper loading order for the browser).

However, if I call .deps, the order is different.

I'm trying to get a list of dependencies, concat each one, minify it, then inject it in my html page.

However it doesn't seem I can rely on .deps as the order returned is different than .files. Is tha

[2015-07-17 21:51] ksmithut commented on #58
`.deps` is an object hash, and `.files` is an array. `.deps` is used if you want to access the files for a specific bower component (i.e. `.deps.jquery` or `.deps.bootstrap`). Because it's an object hash, order is not guaranteed. Order can only be guaranteed in arrays, it's just the way javascript is.

Does that make sense?

[2015-07-19 21:14] jfbibeau commented on #58
Yep, makes sense, thanks. I'll have to find another way to do what I need I guess.

[2015-07-19 21:15] ksmithut commented on #58
What is it that you're looking to do?
On Sun, Jul 19, 2015 at 3:14 PM JF Bibeau <notifications@github.com> wrote:

[2015-07-19 21:20] jfbibeau commented on #58
I have a project with multiple third party dependencies.
I would like to take each dependency, and minimize it to one JS file.
Then I would like to take each minimized file, and inject it in the html page.

I had it working by iterating over each dep from the hash, minimize every file in the dep, and injecting it, but the order wasn't preserved (as per your explanation, makes sense).

Best I can t

[2015-07-20 03:04] ksmithut commented on #58
hmm... ya I guess this package doesn't do that out of the box. I'm going to reopen this and see what I can think of, on how to preserve the order. I'll mull over what the data structure might look like. Here's an initial shot at it, but it's pretty different than what the data structure is like now:

[code]

[2015-07-20 03:10] jfbibeau commented on #58
No worries, I understand not every package can do everything for everyone. This one is already much better than the others I've used. That data structure would definitely work. Thanks!

[2015-07-30 13:02] lazabogdan opened #59 "match files by package name"
I'm looking for a way to get the results from match in the .deps format:

[code]

instead of
[code]

Adding the package name in the glob doesn't seem to work either.

[code]

So I can get the match results for specific packages.
Is there any way to achieve this using the existing API?

[2015-07-30 13:17] lazabogdan commented on #59
Actually, I was thinking too much.

I can get the results for a specific package with a simple filter:

[code]

[2015-07-30 13:49] ksmithut commented on #59
@lazabogdan To make things a little cleaner you could use:

[code]

the reason you need the leading `**` is because it's matching on the absolute file path from the root of your file system. Let me know if that works for you.

[2015-07-30 13:52] lazabogdan commented on #59
@ksmithut Right! I tried that but with a single `*`. I thought it was matching on relative paths to `process.cwd`. Thanks.

[2015-07-30 13:53] ksmithut commented on #59
You bet. I think that's good behavior to match based on process.cwd. I'll leave this open for that reason. I'll get around to it sometime this weekend

[2015-07-30 13:54] lazabogdan commented on #59
Cool ;)

[2015-08-08 18:31] ksmithut commented on #59
@lazabogdan The latest version (3.9.0) has been published and now matches off of the relative path. Let me know how that works for you.

[2015-08-08 18:33] ksmithut commented on #58
@jfbibeau I finally got around to refactoring it a bit, and have built in this functionality into the latest version (3.9.0). I'm still updating the docs, but you can access the dependencies like this in order using `lib.depsArray`. Let me know what you think :) Apologies for taking so long

[2015-08-09 19:40] jfbibeau commented on #58
Thanks! I'll give it a shot.

[2015-08-17 14:03] jfbibeau commented on #58
It works! :D Thanks!

[2015-08-17 14:04] ksmithut commented on #58
Awesome :)

[2015-08-17 14:04] #58 closed

[2015-08-26 14:16] daghoidahl opened #60 ""No main" handling"
Hi,

Looking for a of sorting bower components by dependency order for minification, I found your package which seems to solve my problem. Thanks!

In my own project, I ran into one problem with Modernizr, which seems to be missing the "main" property, and hence bower-files bailed out. In an experiment, I removed the assertion in component.js that tests for the existence of this property. This sol

[2015-08-27 01:15] #59 closed

[2015-08-27 01:18] ksmithut commented on #60
At one point I had put in a warning stating that the `main` property hadn't been defined by the package, but could be overridden. I think that in the refactor, I had forgotten about the message and just let it throw. I felt that at least a descriptive warning would prevent someone from scratching their heads as to why the files from a component weren't included.

What would you think about a warni

[2015-08-27 13:18] daghoidahl commented on #60
A warning log sounds good to me.

I'm not very familiar with bower and the consequences of missing the `main` property, as I just swooped in to fix a problem my team has with bower components being concatenated and minified in the wrong order. All I know about it is that _angular-bootstrap-slider_, which is the package that has a dependency to _modernizr_ (with the missing `main`) seems to be work

[2015-08-27 14:27] ksmithut commented on #60
@daghoidahl I pushed up your changes to 3.10.0. Let me know if it works for you :)

[2015-08-27 20:48] daghoidahl commented on #60
This works. Thanks for the quick response! It feels a lot better to include a supported version of a library than a private fork.

[2015-08-28 13:54] #60 closed

[2015-08-31 16:27] ollisal opened #62 "Fails with bower install --production"
Bower has the --production flag which causes it to skip installing devDependencies. Even if this is used, https://github.com/ksmithut/bower-files/blob/master/lib/component.js#L31 ends up trying to read `.bower.json` files from all the devDependencies, and thus the call to BowerFiles throws.

There seems to be no option to make BowerFiles handle this case. The `dev` option (defaulting to false anyw

[2015-09-01 13:32] ksmithut commented on #62
That's a good point, I don't think I accounted for that. I'll work that in this week.

[2015-09-01 14:13] ksmithut commented on #62
Alright, I've published a new version to npm. Give it a shot :)

[2015-09-17 18:51] joaoeduardo opened #63 "Doesn't brings sammy main file"
I am trying to use this package with Sammy framework, but it doesn't bring the main file of this package. Here is my Gulp task:

[code]

[2015-09-21 14:44] ksmithut commented on #63
It looks like their bower.json file has declared their main dependency file incorrectly. From their source:

[code]

That path is an absolute path because it has a leading `/`. They need to remove that, and it will be included correctly. As a workaround, you can manually override their main declaration by adding the following to your own `bower.json`:

[code]

As a long term solution, I would open

[2015-09-24 13:45] ksmithut commented on #62
@ollisal Let me know if this is working for you

[2015-09-24 13:46] ksmithut commented on #63
@joaoeduardo Let me know if adding in the overrides in your `bower.json` fixes your problem.

[2015-09-24 13:56] ollisal commented on #62
Ah sorry,

not anticipating such a quick response, I initially worked around this issue by adding fake empty-ish .bower.json files to my repo, for bower-files to use when bower install --production had been ran.

Seems to work fine with 3.11.1, even with this hack removed, thanks. :+1:

[2015-09-24 13:58] #62 closed

[2015-09-28 12:37] joaoeduardo commented on #63
Thank you. This fixed the problem. I will open an issue on Sammy project.

[2015-10-05 16:16] #63 closed

[2015-10-17 16:31] paroxp opened #64 "ReferenceError on Require."
Hey!

I'm getting the following error, when I attempt to require the bower-files module.

[code]

The above line, triggers the error below.

[code]

[2015-10-17 18:51] ksmithut commented on #64
I'll take a look, seems odd though... What version of node and npm are you running?

[2015-10-17 18:59] paroxp commented on #64
npm 3.3.8
node 4.1.2

[2015-10-17 19:01] paroxp commented on #64
I should also mention, it appears on Windows 10.

[2015-10-17 19:28] paroxp commented on #64
Actually, the same issue appears on OSX, NPM 2.14.0 Node 0.12.4

[2015-10-19 13:47] ksmithut commented on #64
@paroxp Are you using bower-files in a gulp workflow? What bower-dependencies do you have?

[2015-10-19 13:49] paroxp commented on #64
Yes I am.

[code]

[2015-10-19 13:50] ksmithut commented on #64
What does your `bower` task look like?

[2015-10-19 13:53] paroxp commented on #64
[code]

Mind, it's loaded with the 'gulp-loader' package from the gulp directory. Although, none of the other tasks seem to be bothered.

[2015-10-19 14:01] ksmithut commented on #64
I'm having trouble replicating it with my set of tests, but from the stack trace, it looks like gulp-loader is doing something odd with running modules in different contexts. That in combination with the odd way that the `mout` module was developed causes some issues... I might need more time to figure out which module is causing the issue.

[2015-10-19 14:04] paroxp commented on #64
No worries :)

Here's my repo, if you'd like to replicate an issue:

https://github.com/paroxp/utopia

May be helpful.

[2015-10-19 14:19] ksmithut commented on #64
That helps a lot. Here is what I've discovered so far:

1. In your project `bower.json`, you have an empty string in your `"main"` property. This isn't causing your issue, but it will cause some problems.
2. I tried building a bower task without gulp-loader, and the task ran fine. It appears gulp-loader is doing some odd 'contextifying' when it's trying to run it's module loader, which is causing

[2015-10-19 14:27] ksmithut commented on #64
version `3.11.2` has been published to account for an empty string in the "main" property in the `bower.json`

[2015-10-19 14:32] paroxp commented on #64
Great, thanks for that! I'll give it a shot tonight :)

Sorry to cause bother :(

[2015-10-19 15:00] ksmithut commented on #64
It's not your fault :) It's a miracle that any of this software written by hundreds of developers work together anyway. Let me know what you find :)

[2015-10-19 17:22] paroxp commented on #64
Still nothing I'm afraid.

I'll try different task loader perhaps.
Don't really fancy exchanging bower module, as your's is simple and nice :)

[2015-10-19 18:15] ksmithut commented on #64
Ah, what I was saying that I would have to change my dependency, which is `bower-config`. I use `bower-config` internally, so you wouldn't have to change which version of bower you're using, I would just have to figure out a way of doing what they're doing, but without `bower-config` and `mout`.

[2015-12-17 22:28] nebulousGirl opened #66 "Using path as a package is not working"
With bower you can specify a path instead of a name for a package and give a name to the package.

For example, I have this folder structure:
[code]
bower-files is trying to locate the dependency using "../shared/dep-1" from bower_components instead of the name "dep-1", obviously it fails.

Is there a way around this?

[2015-12-17 22:34] ksmithut commented on #66
hmmm... Currently there is not, but that would be an important feature to add, especially because it's supported by bower. I'll take a look at this right now and see if it's an easy thing to add.

[2015-12-17 22:36] ksmithut commented on #66
@nebulousGirl What does your bower.json look like? Or at least an example of what it looks like?

[2015-12-17 22:39] nebulousGirl commented on #66
dep-1/bower.json:
[code]
project-1/bower.json:
[code]
It could also be something that is manually passed as an option, like aliases

[2015-12-17 22:54] ksmithut commented on #66
So out of the box, you could symlink your `shared/dep1/` package into your `bower_components/` directory, but I'm going to try and support the default behavior. I'm having trouble finding bower's documentation on this feature. Do you have a link to the page with that feature documented?

[2015-12-17 23:02] ksmithut commented on #66
Alright, I think I found the link: https://github.com/bower/spec/blob/master/json.md#dependencies

But this is what it says:

So it says that the values should be the local paths. Based on that description, your `bower.json` should like like this:

[code]

I tried running `bower install ../local-path --save` and that's the kind of setup that it did. But when it did that, it copied the files to my

[2015-12-17 23:11] nebulousGirl commented on #66
I just left work. I will try that tomorrow.

I had a hard time trying to figure out the format to put in the bower file. The documentation is missing some examples. I hadn't thought that I could use a relative path directly with bower install.

Thanks for your time!

[2015-12-17 23:13] ksmithut commented on #66
You bet :) Let me know what you're able to get to work. I'll be available tomorrow in the afternoon (probably going to sleep in after watching Star Wars really late).

[2015-12-18 14:16] nebulousGirl commented on #66
I tried using the path as a value like in your example and it works.

Thanks again!

[2015-12-18 14:16] #66 closed

[2016-02-03 20:08] EAndreyF opened #67 "Don't include css file"
Hi, I have a problem, I can't include main css files.
So, my gulp file: https://bitbucket.org/EAndreyF/angular-base/src/e99187a2d465994867370b97d6321ae1d1caeab7/gulpfile.js?at=master&fileviewer=file-view-default#gulpfile.js-109

[code]

so it finds js, but not other. It's not work for https://github.com/fyockm/bootstrap-css-only bower package

[2016-02-04 11:30] EAndreyF commented on #67
There was problem with boser.json file, I forgot --save flag when installed bower component

[2016-02-04 11:30] #67 closed

[2016-05-12 17:36] stickywes opened #68 "DevDependencies that depend on normal dependencies are incorrectly ordered"
I guess I'm the first someone after all this time, go me!

While developing a current project, I am including a jQuery plugin called "mockjax" in order to generate mock API responses. I have defined that jQuery plugin is one of my "devDependencies".  However, since jQuery is both a dev dependency and a non-dev dependency, it's only defined in my "dependencies" within bower.json.

This means that w

[2016-05-13 02:34] ksmithut commented on #68
That's a good point. I'll work this in. Because it might be a breaking change, would you be alright if I made it an option that you pass into `.dev()` method? something like `.dev('after')` or `{ dev: 'after' }`?

[2016-05-13 03:30] stickywes commented on #68
Seems like a good idea.  The existing ordering approach has been around long enough that there's probably a fair amount of people who depend on it now.

[2016-05-13 14:36] ksmithut commented on #68
Alright, I've published version 3.13.1 with the proposed changes. I've got tests verifying that it works, but let me know if you run into any issues :)

[2016-05-13 20:22] stickywes commented on #68
Looks like it does the trick, thanks!

[2016-05-13 20:22] #68 closed

[2016-07-28 13:36] eurosat7 opened #69 ""main" vs "files" vs "ignore""
HI!

Due to

https://github.com/bower/spec/pull/43
and
https://github.com/bower/spec/issues/47 #Proposal 1: files flat list

I would like to use "files" and/or "ignore" in addition to "main" in the bower.json of required packages to find my assets.

Just an example:

[code]

And/Or:

[code]

What do you think?

[2016-07-28 14:33] ksmithut commented on #69
I'm still trying to do an in depth read of it, but is it like the 'files' in `package.json`? If so, the files array is just a list of files that need to be published in the tarbal that gets stored in the npm registry, as with the `ignore` option. AFAIK, bower links to github and doesn't actually manage the storage of the versioned packages, but I could be wrong. In that case, maybe `files` and `ig

[2016-07-28 14:58] eurosat7 commented on #69
That was a quick reply. ;)

Here some more indepth:

We use svn.
So far we were happy using composer and a satis with private repositories for your php needs.

Now we want to manage our own assets/skins/themes in separate packages. And also use external packages like jquery, modernizr and many more via bower.

We have repositories managed via "private bower" as our private "packagist" replacement.

[2016-07-28 15:02] ksmithut commented on #69
makes sense. Taking a look at the `bower list` command, it should be pretty easy to support with with some refactoring. I'll work this weekend to add those as features.

[2016-07-28 15:16] eurosat7 commented on #69
I owe you a pizza. :)

Side note:
Here is a way we could "solve" the problem but that feels totally off:

[code]

[2016-07-28 15:17] ksmithut commented on #69
ya, including "files" as an option would feel much cleaner. too many stars :)

[2016-08-01 14:51] ksmithut commented on #69
@eurosat7 Just an update, still looking into a clean solution. The `bower list` command is async, which would dramatically reduce the usability of this module. I'm going to dig into the internals of that command and see if I can replicate it with a sync version.

[2016-08-01 16:04] eurosat7 commented on #69
Here is what I am up to (will delete this soon) http://pastebin.com/rr2bNsvR

[2016-08-01 16:08] ksmithut commented on #69
Sweet :) If you can get that in a PR that would work with this version, that'd be great :) It's been a while since I've touched this code and my javascript style and libraries of choice have changed a lot. I'm considering a refactor with breaking changes, but I'd like to get this feature in before that.

[2016-08-01 16:16] eurosat7 commented on #69
I am not allowed to code for a PR for work related problems.

But please(!) : Feel free to rewrite and/or comment/document.
And the less dependencies you have the better.  ;-)
And the easier the code is to follow the better. Some parts of the code felt uneasy.

[2016-08-01 16:49] ksmithut commented on #69
Ya, there's a lot I don't like about they way I did this. I'm going to take a more functional approach in the future.

Oh man, that's a rough work rule. Working for a company that leverages open source but isn't willing to contribute back always feels like bad mojo.

I'll work on the refactor and try to get this in as soon as possible. Sorry for the delay!

[2016-08-02 07:32] eurosat7 commented on #69
Feel free to contact me via eurosat7@yahoo.de - not going to chat here. ;)

[2016-08-09 19:50] ksmithut commented on #69
@eurosat7 Have you tried using [wiredep](https://www.npmjs.com/package/wiredep)? I'm beginning to think they're way ahead of the game as far as dependency resolving goes. Pretty clean codebase, and lots more updated than mine. They seem to be more spec compliant than me, and they seem to always be on the radar with the bower team.

[2016-08-10 07:57] eurosat7 commented on #69
I might try wiredep or webpack in the next project. I looked at them some weeks ago and like their approaches. But for now legacy stuff is hindering me and I had to create an individual solution.

Feel free to reject and close this issue if you think it's not part of this package after having a closer look.
Thanks for your time. :)

[2016-08-10 11:53] ksmithut commented on #69
No, I still plan on adding this feature. It's just that the more I read about this "files" thing, the more I'm saddened that I didn't keep up. It sounds like they kind of stepped away from the "main" property as the canonical source of having a list of files. Although, even if I had kept up, I doubt that all bower packages would have updated accordingly. I'll work on this today

[2016-08-11 16:02] ksmithut commented on #69
@eurosat7 I have a pull request in that I'm planning on modifying based on your feedback.

https://github.com/ksmithut/bower-files/pull/70

Basically, I added an option `.useFiles()` that will opt to use the files property instead of the main property. If the "files" property isn't present, it will use the "main" property. I still don't feel super good about it, but if this would work for your cas

[2016-08-12 13:00] eurosat7 commented on #69
NICE :)

Automatic switching between "main" and "files"? Should be optional.

I would have done it a little more generic: ```.setFilelistProperties(["main","files"])```

So one could add custom properties for his own build tools or when the specifications change again. (default should stay ```["main"]```)

But I would do it another way:

- You can define if all properties inside the setFilelistPro

[2016-08-15 22:57] ksmithut commented on #69
I like it! thanks for your suggestions.

How about this?

[code]

With both of those, glob matching works, and it still only pulls out unique files, so if there is overlap between main and files, it only gets the unique files.

[2016-08-16 07:24] eurosat7 commented on #69
Your comment on the second one is incomplete. But that aside: I'm happy with that. :)

About the "ignore" - Properties: Are they applied as a filter by default or do you only apply them if the user does some ```.fileListIgnoreProp(false)``` default being ```.fileListIgnoreProp(['ignore'])```?

[2016-08-16 11:49] ksmithut commented on #69
Hmmm... I guess that's a good point about the ignore properties. Just so I'm clear, ignore properties should be applied *after* files, right? The "files" property can have glob matching, which is the reason you would want ignore? I guess another question is, if one of the file entries is a directory, should all of the files contained in that directory be included?

Oh yes, and the other options yo

[2016-08-16 13:27] eurosat7 commented on #69
1. question:
Yes: ```ignore``` is "stronger". (Doing it in another way would make using ignore unpredictable).

2. question
They should be forced to glob. So I'd say no to matching whole directories by default - but having an option to change that behaviour might be polite. The specifications are focussed on selecting files.

2. paragraph 1. topic
Some old packages do not have the ```bower.json```

[2016-08-29 16:56] ksmithut commented on #69
@eurosat7 Sorry it's been a while. I'll address the ignore piece today, and stick to globbing.

As far as supporting multiple package formats, I think it would be difficult to accommodate all the different packages that don't comply with bower/component standards. Ultimately, accommodating multiple standards results in code bloat (of which bower-files is already victim of due to my poor design cho

[2016-08-29 19:47] ksmithut commented on #69
Alright, I've updated the pr to include a `.ignoreListProps()` method. If this is sufficient for now, I'll merge the PR and publish a new version. I'll likely keep this issue open to to track our conversations on the multiple package formats and such.

[2016-08-29 19:51] ksmithut commented on #64
@paroxp It's been a while. I've neglected this module for a long time and it seems that bower has moved on with its standards. I'm going to rewrite this module to make it much more maintainable and standards compliant, but if you're still looking for something to use, [wiredep](https://www.npmjs.com/package/wiredep) is a good alternative.

[2016-08-30 09:44] eurosat7 commented on #69
The default for ignoreListProps() being [] is ok, as long as "files" is not in the default for fileListProps(). So I think it's ok.

PS: I'm reading the e-book "Node.js Design Patterns - Second Edition" by Mario Casciaro and Luciano Mammino - I'd love to see some of that smart ideas in this package. ;)

[2016-09-06 17:35] ThomasBrierley opened #71 "Overrides keys missmatch"
Bower "name" properties appear to be used to match "overrides" keys, where as registry names are used to match "dependencies" keys. There is no requirement for the "name" property to match the bower registry name, just like the infamous, redundant and depreciated "version" property.

This caught me out when trying to add some missing font overrides for katex. The registry name is "katex" and the b

[2016-09-06 17:39] ksmithut commented on #71
Ah, good catch. I'll look into this and fix this. I'll keep you updated.

[2016-09-06 17:52] ksmithut commented on #69
Yes, the "files" is not the default for this version, since that would be a breaking change. Using either of the new methods are opt-in. In the next major version of bower-files, the default will be spec compliant. I've got another bug to work in, but then I'll publish a new version this week.

[2016-09-08 13:05] ksmithut commented on #64
@paroxp Feel free to reopen if you're still having issues.

[2016-09-08 13:05] #64 closed

[2016-09-08 13:12] ksmithut commented on #71
hmmm... interesting. When I run `bower install --save katex`, I get the following in my bower.json:

[code]

I can confirm that using yours causes the specified behavior. Looks like they need to be more bower spec compliant as well:

[code]

I'm still going to attempt to fix this because it's frustrating that it fails silently.

[2016-09-08 15:17] ThomasBrierley commented on #71
Ah, I usually manually enter them in because I want to specify the semver upgradability bit. Interesting how the key is the bower.json name and the value is the registry name (which I usually omit).

You are correct katex should fix their name, but to be fair this part of the spec is broken, there just shouldn't be a name property at all so that there is only one definitive way to refer to a repo.

[2016-09-08 15:18] ksmithut commented on #71
yup, that's what I'm going to do. It will pull in the overrides for both the name, and the directory name.

[2016-09-08 15:21] ksmithut commented on #71
Alright, I've published 3.14.1 with this fix. Thanks for reporting!

[2016-09-08 15:22] ksmithut commented on #69
@eurosat7 After all this time, I've finally pushed out the change to 3.14.1. Let me know if you have any issues with these changes.

[2016-09-08 16:53] ThomasBrierley commented on #71
Works great, Thanks @ksmithut

[2016-09-08 16:53] #71 closed

[2016-11-29 18:35] darlanmendonca opened #73 ".ext supporting regex"
what you think about use the method .ext with regex, instead only strings? e.g.

[code]

[code]

[2016-11-29 18:40] ksmithut commented on #73
That would be interesting. This can kind of already be accomplished using the [.join() method](https://github.com/ksmithut/bower-files#libjoinfont-eot-woff-ttf-svg), or the other option would be to use .match():

[code]

Not as pretty of a regex, but usable. I suppose the `.ext()` with the regex could be a shortcut for those other implementations. Thoughts?

[2016-12-01 09:41] hvs-pbierans commented on #73
I have a set of file-extensions in an array called GruntSettings which I already use in various grunt tasks. I'd like to use them for bowerFiles.ext, too. So my thought would be:
```bowerFiles().ext(["eot", "svg", "ttf", "woff", "woff2"]).files```
ext = function (what){ switch (typeof what) ...) --- ;)

[2016-12-01 14:15] ksmithut commented on #73
@hvs-pbierans You can accomplish this using an array in the following way:

[code]

[2016-12-28 12:25] koganalon commented on #44
ffdggdfdfgfgds

[2017-06-03 18:09] #73 closed